Source: aws-rotate-iam-keys
Maintainer: Adam Link <aws-rotate-iam-keys@rhyeal.com>
Version: 0.1.4
Section: utils

Package: aws-rotate-iam-keys
Standards-Version: 0.1.4
Architecture: all
Depends: bash, jq, awscli
Priority: optional
Homepage: https://github.com/rhyeal/aws-rotate-iam-keys
Vcs-Git: https://github.com/rhyeal/aws-rotate-iam-keys
Description: Get secure with automatic IAM key rotation
 Easily schedule the rotation of your AWS IAM keys for any profile on your
 system. Simply install the program and it will rotate your default IAM key
 nightly. Open crontab to modify and add additional profiles to rotate
 on a schedule.
